@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes ray1 {
  from {
    top: -120px;
    left: -120px;
  }
  to {
    top: 0;
    left: 0;
  }
}

@keyframes ray2 {
  from {
    top: -120px;
    right: -120px;
  }
  to {
    top: 0;
    right: 0;
  }
}

@layer utilities {
  .animate-ray1 {
    animation: ray1 1.5s ease-in-out;
  }
  .animate-ray2 {
    animation: ray2 1.5s ease-in-out;
  }
}
